{% load i18n %}{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your Crowdfunding Platform account.

Please go to the following page and choose a new password:

{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.email }}

This link is valid for a limited time.

If you didn't request this, please ignore this email.

Thanks,
The Crowdfunding Platform Team
{% endautoescape %}