{% extends "base.html" %}

{% block title %}Password Reset Sent - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-center">Password Reset Email Sent</h2>
            </div>
            <div class="card-body">
                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                <div class="text-center mt-3">
                    <a href="{% url 'users:login' %}" class="btn btn-primary">Return to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}