{% extends "base.html" %}
{% load static %}

{% block title %}{{ user.first_name }}'s Profile - {{ block.super }}{% endblock %}


{% block content %}
<section class="container my-5">
    <h2 class="mb-4">{{ user.first_name }}'s Donations</h2>
    
    {% if donations %}
        <ul class="list-group">
            {% for donation in donations %}
            <li class="list-group-item">
                Donated <strong>{{ donation.amount }}</strong> to 
                <em>"{{ donation.project.title }}"</em> on 
                <span class="text-muted">{{ donation.created_at|date:"F j, Y, g:i a" }}</span>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">No donations found.</p>
    {% endif %}
</section>
{% endblock %}

