{% extends "base.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}

  <!-- Upload New Images -->
  <div class="mb-3">
    <label for="id_images" class="form-label">Upload Images</label>
    <input type="file" name="images" id="id_images" multiple class="form-control">
  </div>

  <!-- Existing Images with Delete Option -->
  {% if existing_images %}
  <h5>Existing Images</h5>
  <div class="row">
    {% for image in existing_images %}
    <div class="col-md-3 text-center">
      <img src="{{ image.image.url }}" class="img-thumbnail mb-2" style="height: 100px;">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="delete_images" value="{{ image.id }}"
          id="delete_image_{{ image.id }}">
        <label class="form-check-label" for="delete_image_{{ image.id }}">
          Delete
        </label>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}